# URLs
BASE_URL={${TEST_URL}}
TEST_URL=https://test.example.com
PROD_URL=https://prod.example.com

# PATHS
LOGIN_PATH=/login
MAIN_PATH=/
EVENTS_PATH=/events
PROJECTS_PATCH=/projects

# HardCoded Credentials
USERNAME=test_user
PASSWORD=test_password